* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: #eee8e8;
        color: #333;
        
    }


.titulo{
    text-align: center;
    font-size: 50px;
    color: #333;
    margin-top: 20px;
}

.container-principal{
    display: flex;
    justify-content: center;
    align-items: center;
 background-color: beige; 
 margin: 10px;
    
    }
.navbar{
    background-color: #333;
    overflow: hidden;
    width: 100%;
    flex-direction: row;
    height: 70px;
    padding: 10px;
}
.navbar ul{
    display:flex;
    justify-content: space-around;
    list-style: none;
    padding: 10px;

}
.navbar ul a{
    color:black;
    border:1px solid ;
    border-radius: 10px;
    margin: 20px;
    text-decoration: none;
    background-color:beige;
    padding: 10px;
}

.footer{
   display:flex;
    justify-content: flex-start;
    background-color: #333;
    flex-direction: row;
    flex-wrap: wrap;
    

}
.footer ul {
    display:flex;
    list-style: none;


}

.footer ul img{
    width: 50px;
    height: 50px;
    padding: 10px;
    
}
.sidebar {
    background-color: beige;
    color: #000;
    font-size: 18px;
    padding: 20px;
    border: 1px solid #333;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #333;
    width: 200px;
   margin: 20px;
    display: flex;
    flex-direction: column;
  
    
}
.contenido{
    background-color: #82858f;
        color: #eef1f3;
        font-size: 18px;
        padding: 20px;
        border: 1px solid #333;
        border-radius: 20px;
        box-shadow: 0px 0px 10px #333;
        width: 50%;
        
        display: flex;
        flex-direction: column;
        
        justify-content: center;
        align-items: center;
        text-align: center;
}